{:paths ["resources" "src" "test" "target/cljs"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  orchestra {:mvn/version "2019.02.06-1"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  org.clojure/core.logic {:mvn/version "0.8.11"}
  com.datomic/datomic-free {:mvn/version "0.9.5697"}
  mount #:mvn{:version "0.1.15"}
  org.clojure/core.async {:mvn/version "0.4.490"}
  nrepl {:mvn/version "0.6.0"}
  me.raynes/fs {:mvn/version "1.4.6"}
  ring/ring-core {:mvn/version "1.7.1"}
  aleph {:mvn/version "0.4.6"}
  compojure {:mvn/version "1.6.1"}
  hiccup #:mvn{:version "1.0.5"}
  garden {:mvn/version "1.3.6"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  reagent {:mvn/version "0.8.1"}
  metosin/reitit {:mvn/version "0.2.13"}
  com.bhauman/figwheel-main {:mvn/version "0.2.0"}
  com.taoensso/sente {:mvn/version "1.13.1"}
  re-com {:mvn/version "2.5.0"}}}
